<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <title>Ad View</title>
</head>
<header>
    <div class="container">
        <div class="mt-2 p-2">
            <a href='/mangement_advertiser/' class="btn btn-primary">Home</a>
            <a href='/admin/mangement_advertiser/' class="btn btn-primary">Admin</a>
            <a href='/mangement_advertiser/newad' class="btn btn-primary">New Ad</a>
            <a href='/mangement_advertiser/query1' class="btn btn-primary">Query 1</a>
            <a href='/mangement_advertiser/query2' class="btn btn-primary">Query 2</a>
            <a href='/mangement_advertiser/query3' class="btn btn-primary">Query 3</a>
            <a href='/mangement_advertiser/api' class="btn btn-primary">api</a>
        </div>
    </div>
</header>
<body>
<div class="container" dir="rtl">
    {% for advertiser in advertisers %}
        <div class="card mt-2 p-2">
            <h5 class="card-title">{{ advertiser.name }}</h5>
            <div class="card-body">
                <div class="row">
		    {% for ad in advertiser.ads %}
		        <div class="card col-md-2 p-0 mx-2">
		            <a href="click/{{ ad.id }}/">
		                <img src="{{ ad.img_url }}"
		                     class="card-img-top">
		                <div class="card-body">
		                    <span>{{ ad.title }}</span>
		                </div>
		            </a>
		        </div>
		    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>
